// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };
    }
    @if $breakpoint == tablet-portrait {
        @media only screen and (max-width: 56.25em) { @content };
    }
    @if $breakpoint == tablet-landscape {
        @media only screen and (max-width: 75em) { @content };
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html { 
    background-color: #000;
    font-size: 62.5%;

    @include respond(phone) {
        font-size: 56.25%; // 1 rem = 9px; 9/16
    }

    @include respond(tablet-landscape) {
        font-size: 56.25%; // 1 rem = 9px; 9/16
    }

    @include respond(tablet-portrait) {
        font-size: 50%; // 1 rem = 8px; 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1 rem = 12px;
    }
}

body {
    background-image: url("../img/ds-bg.gif"), 
        linear-gradient(to bottom, 
            rgba(0, 0, 0, 0.4), 
            rgba(0, 0, 0, 1));
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
    text-align: center;
}

// Headers
.primary-heading {
    font-weight: 100;
    font-size: 5rem;
    letter-spacing: 5px;
    padding-top: 4rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.secondary-heading {
    color: #CFEC3A;
    font-size: 2rem;
    padding-top: 2rem;

    &:after {
        display: block;
        background-color: #778d0c;
        content: " ";
        height: 2px;
        width: 13rem;
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
}

// Sub Texts
.sub-text {
    &__contributors {
        font-size: 1.5rem;

        &--links {
            color: #CFEC3A;
            text-decoration: none;
            transition: color 0.5s;

            &:hover {
                color: #778d0c;
            }
        }
    }

    &__details {
        font-size: 1.7rem;
        line-height: 3rem;
        margin: 0 auto;
        padding: 2rem;
        width: 95rem;
    }
}

// List of Buttons
.genre-showcase {
    margin-bottom: 35rem;

    &__list {
        display: block;
        float: left;
        width: 25%;
    }

    &__fig {
        width: 100%;
        // Height is Important
        height: 14rem;
        margin: 0;
        overflow: hidden;
        transition: all .3s;
    }

    &__btn {
        position: relative;
        background-color: rgba(30, 30, 30, 0.76);
        border: none;
        color: #fff;
        display: block;
        font-size: 2rem;
        width: 100%;
        // Padding is Important
        padding: 10rem 0;
        transition: all .2s;

        &:hover,
        &:active,
        &:focus {
            background-color: #000;
            cursor: pointer;
            outline: none;
        }

        &--icon {
            color: #CFEC3A;
            display: block;
            font-size: 6rem;
            position: absolute;
            top: 2rem;
            left: 50%;
            transform: translate(-50%);
        }
    }
}

// Submit Button
.submit-btn {
    background-color: rgba(30, 30, 30, 0.801);
    border: 1px #fff solid;
    border-radius: 10rem;
    border-color: #fff;
    color: #fff;
    opacity: 0;
    font-size: 1.4rem;
    letter-spacing: 2px;
    margin-bottom: 4rem;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    transition: all .2s;

    &:active,
    &:focus {
        background-color: #000;
        border-color: #CFEC3A;
        color: #CFEC3A;
        outline: none;
    }

    &:hover {
        background-color: #000;
        border-color: #CFEC3A;
        color: #CFEC3A;
    }
}

// Gif Container
.gif-container {
	margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5rem;

    &__gif {
        display: inline-block;
        height: 25rem;

        &--img {
            width: 100%;
            transition: all 0.3s;
            border: 2px transparent;

            &:hover {
                transform: scale(1.10);
                border: 2px solid #CFEC3A;
                border-radius: 3px;
            }
        }
    }
}

.row {
    max-width: 120rem;
    margin: 0 auto;

    @include respond(tablet-portrait) {
        max-width: 100rem;
        padding: 30rem;
    }
}