// Clears Float
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
    @if $breakpoint == smaller-phone {
        @media only screen and (max-width: 25.875em) { @content };
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };
    }
    @if $breakpoint == tablet-portrait {
        @media only screen and (max-width: 56.25em) { @content };
    }
    @if $breakpoint == tablet-landscape {
        @media only screen and (max-width: 75em) { @content };
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html { 
    background-color: #000;
    font-size: 62.5%;
    @include respond(phone) { font-size: 56.25%; }
    @include respond(tablet-landscape) { font-size: 56.25%; }
    @include respond(tablet-portrait) { font-size: 50%; }
    @include respond(big-desktop) { font-size: 75%; }
}

.selection-section {
    background-image: url("../img/ds-bg.gif"), 
        linear-gradient(to bottom, 
            rgba(0, 0, 0, 0.4), 
            rgba(0, 0, 0, 1));
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
    padding: 0;
    text-align: center;
}

.gif-section {
    display: none;
    padding: 6rem 2rem;
}

// Text Container
.text-box {
    margin: 0 auto;

    &__heading {
        font-weight: 100;
        font-size: 5rem;
        letter-spacing: 5px;
        padding-top: 4rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        @include respond(smaller-phone) { font-size: 3.5rem; }
    }

    &__contributors {
        font-size: 1.5rem;

        &--links {
            color: #CFEC3A;
            text-decoration: none;
            transition: color 0.5s;

            &:hover { color: #778d0c; }
        }
    }

    &__details {
        font-size: 1.7rem;
        line-height: 3rem;
        padding: 2rem 0;
        @include respond(smaller-phone) { font-size: 1.5rem; }
    }

    &__sub-heading {
        color: #CFEC3A;
        font-size: 2rem;
        padding-top: 2rem;
        @include respond(smaller-phone) { padding-top: 0; }
        &:after {
            display: block;
            background-color: #778d0c;
            content: " ";
            height: 2px;
            width: 13rem;
            margin: 0 auto;
            margin-top: 1rem;
            margin-bottom: 3rem;
        }
    }

    @include respond(tablet-portrait) {
        max-width: 50rem;
        padding: 0 3rem;
    }
}

// List of Buttons
.genre-showcase {
    @include clearfix;

    &__container {
        float: left;
        width: 25%;
        overflow: hidden;
        transition: all .3s;
        @include respond(phone) { width: 50%; }
    }

    &__btn {
        background-color: rgba(30, 30, 30, 0.76);
        border: none;
        color: #fff;
        display: block;
        font-size: 2rem;
        width: 100%;
        transition: all .2s;

        &:hover,
        &:active,
        &:focus {
            background-color: #000;
            cursor: pointer;
            outline: none;
        }

        &--icon {
            color: #CFEC3A;
            display: block;
            font-size: 6rem;
            padding: 2rem 0 0;
            @include respond(smaller-phone) {
                font-size: 4.5rem;
                padding: 1.2rem 0;
            }
        }

        &--text {
            padding: 2rem 0;
            @include respond(smaller-phone) {
                font-size: 1.5rem;
                padding: 1.3rem 0;
            }
        }
    }
}

// Submit Button
.submit-btn {
    background-color: rgba(30, 30, 30, 0.801);
    border: 1px #fff solid;
    border-radius: 5px;
    border-color: #fff;
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
    letter-spacing: 2px;
    margin-bottom: 4rem;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    transition: all .2s;
    margin-top: 3rem;
    
    &:active,
    &:focus {
        background-color: #000;
        border-color: #CFEC3A;
        color: #CFEC3A;
        outline: none;
    }

    &:hover {
        background-color: #000;
        border-color: #CFEC3A;
        color: #CFEC3A;
    }
}

// Gif Container
.gif-container {
	margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    @include respond(phone) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5rem;
    }

    &__gif {
        display: inline-block;

        &--img {
            width: 100%;
            transition: all 0.3s;
            border: 2px transparent;

            &:hover {
                transform: scale(1.10);
                border: 2px solid #CFEC3A;
                border-radius: 3px;
            }
        }
    }
}

.row {
    max-width: 120rem;
    margin: 0 auto;
    @include respond(tablet-portrait) { max-width: 100rem; }
}